.beerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.beerName {
  font-size: 30px;
}

.beerImage {
  height: 400px;
  width: auto;
}

/* figure out flex direction */

.flex {
  display: flex;
  flex-direction: wrap;
}
